body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
}

.sideColumn {
  position: absolute;
  width: 450px;
  height: 100%;
}

.mapColumn {
  width: 100%;
  height: 100%;
  margin-left: 450px;
}