.optionContainer {
  width: 86%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid grey;
  margin-left: 3.5%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.fareContainer {
  width: 60px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: 390px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  line-height: 0;
  justify-content: space-between;
}